---
Problem 1
---------

Let's take a peek at some of the data to make sure it looks sensible. 

---

In [6]:
X = [[0], [1], [2], [3]]
y = [0, 1, 9, 9]
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X, y) 
print(neigh.predict([[0]]))
print(neigh.predict_proba([[0]]))

[0]
[[ 0.33333333  0.33333333  0.33333333]]

In [2]:
import datetime as dt
import pandas as pd

In [3]:
df = pd.DataFrame({'date':['2011-04-24 01:30:00.000']})
df

                      date
0  2011-04-24 01:30:00.000

In [4]:
df['date'] = pd.to_datetime(df['date'])
df

                 date
0 2011-04-24 01:30:00

In [5]:
(df['date'] - dt.datetime(1970,1,1)).dt.total_seconds()

0    1.303609e+09
Name: date, dtype: float64

In [3]:
df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],
                    'C': [1, 2, 3]})

In [5]:
pd.get_dummies(df)

   C  A_a  A_b  B_a  B_b  B_c
0  1  1.0  0.0  0.0  1.0  0.0
1  2  0.0  1.0  1.0  0.0  0.0
2  3  1.0  0.0  0.0  0.0  1.0

In [3]:
import numpy as np

df = pd.DataFrame({'Type':list('ABBC'), 'Set':list('ZZXY')})
df['color'] = np.where(df['Set']=='Z', 'green', 'red')
df

  Set Type  color
0   Z    A  green
1   Z    B  green
2   X    B    red
3   Y    C    red

In [8]:
df['texture'] = np.where(df['Type']=='B', 'hard', 'soft')

In [9]:
df

  Set Type  color texture
0   Z    A  green    soft
1   Z    B  green    hard
2   X    B    red    hard
3   Y    C    red    soft

In [10]:
df = pd.DataFrame([['hello', 'hello world'], ['abcd', 'defg']], columns=['a','b'])

In [17]:
df[df['b'].str.contains('hello world')]

       a            b
0  hello  hello world

In [13]:
df

       a            b
0  hello  hello world
1   abcd         defg

In [18]:
df

       a            b
0  hello  hello world
1   abcd         defg

In [62]:
df = pd.DataFrame({'num':list('1233'), 'kc':list('ABBC')})
df['opp'] = np.where(df['kc']=='C', 1, 2)
df

  kc num  opp
0  A   1    2
1  B   2    2
2  B   3    2
3  C   3    1

In [63]:
df2 = pd.DataFrame({'num':list('1123'), 'kc':list('BCCD')})
df2['opp'] = np.where(df2['kc']=='C', 2, 3)
df2

  kc num  opp
0  B   1    3
1  C   1    2
2  C   2    2
3  D   3    3

In [70]:
df3 = df.merge(df2, on=['num'], how='outer')
df3

  kc_x num  opp_x kc_y  opp_y
0    A   1      2    B      3
1    A   1      2    C      2
2    B   2      2    C      2
3    B   3      2    D      3
4    C   3      1    D      3

In [53]:
df3 = df3.drop_duplicates()

In [54]:
df3

  kc num_x  opp_x num_y  opp_y
0  B     1      2     1      3
1  C     2      1     2      2
2  C     2      1     3      2
3  C     3      1     2      2
4  C     3      1     3      2
5  D     4      2     4      3

In [42]:
df3['opp'] = df3[['opp_x', 'opp_y']].max(axis=1)

In [47]:
df3 = df3.drop('opp_x', 1)
df3 = df3.drop('opp_y', 1)

In [48]:
df3

  kc  opp
0  A  2.0
1  B  3.0
3  C  2.0
5  D  3.0